@{if (!WebSecurity.IsAuthenticated)
{
Response.Redirect("login.cshtml");
}
    Layout="~/_Layout.cshtml";
    Page.Title = "Inventory Admin";
}
@{    
      //Photo upload 
       var Results="";
       var fileName= "";
       var idItem="";
       if(IsPost){
       var image = Request.Files[0];
           idItem= Request["selectItem"];
       var db= Database.Open("Northwind");
            fileName = Path.GetFileName(image.FileName);
            if (fileName != String.Empty && idItem != null)
            {
                var fileStream = image.InputStream;
                var fileLength = image.ContentLength;
                byte[] fileContent = new byte[fileLength];
                fileStream.Read(fileContent, 0, fileLength);
                var sql="UPDATE Items SET Image = @0 WHERE id = @1";
                db.Execute(sql,fileContent,idItem);
               Results = "successful " + idItem + " " + fileContent;
            }
            else{
                Results = "Unsuccessful " + idItem + " " + fileName;
            }
         }    
}
<script>
    // Photo Items List
    $.getJSON('JsonServices/GetAllItems', function (data) {
        viewModel.itemsAll(data);
    });
    //Pending Orders Table
    $.getJSON('JsonServices/Orders', function (data) {
        if (data != 0) {
             viewModel.orders(data);
            $('#pending-wrap').show();
            $('#empty-orders').hide();
        }       
    });
     
   productsHub = $.connection.productHub;
   productsHub.client.updateOrders = function (data) { 
        $.getJSON('JsonServices/Orders', function (data) {
        if (data != 0) {
             viewModel.orders(data);
            $('#pending-wrap').show();
            $('#empty-orders').hide();
        }
        else{
            $('#pending-wrap').hide();
            $('#empty-orders').show();
        }
        });     
        };

</script>

<div id="left-col">
 <div id="accordion">
        <h4>Add a Category</h4>
        <div id="addCategory" class="adminForm">
            <div class="two-col">
            <form data-bind="submit:addCat">
                <input data-bind="value:CategoryName, valueUpdate: 'afterkeydown'"placeholder="Category Name">
                <input data-bind="value:DescriptionCat" placeholder="Description">
                <button class="blue-btn" data-bind="">Add</button>
            </form>
            </div>

            <div class="two-col">
                <p>Existing Categories</p>
                <select class="data-table cat-list" multiple="multiple" data-bind="options:categories, optionsText: 'CategoryName', optionsValue:'CategoryID',selectedOptions: selectedCat"></select>
                <button class="smallButton" data-bind="click: removeCat">Delete</button>
                <button class="smallButton editButton" data-bind="click: editCat">Update</button>
                <div class="success" id="successCat">Updated</div>
            </div>
        </div>

        <h4>Add an Item</h4>
        <div id="addItem" class="adminForm">
        
            <div class="two-col">
                <form enctype="multipart/form-data" data-bind="submit:addItem">
                    <select class="categories2" data-bind="options: categories, optionsText: 'CategoryName', optionsValue: 'CategoryID', optionsCaption: 'Choose a Category', selectedOptions:selectedCat2"></select>
                    <input data-bind="value:newItemName" placeholder="Item Name">
                    <input data-bind="value:newModel" placeholder="Model">
                    <input data-bind="value:newDescription"placeholder ="Description">
                     <div class="row ">
                        <span class="label">Quantity</span>
                        <span id="numberBox2">
                            <input data-bind="value:newInStock">           
                        </span>
                     </div>
                    <!--<input data-bind="value:newLocation" placeholder="Location">-->
                    <!--<input type="file" data-bind="value:Photo">-->
                    <button class="blue-btn" type="submit">Add Item</button> 
                </form>
            </div>

            <div class="two-col">
                <p>Existing Items</p>
                <select class="data-table" multiple="multiple" data-bind="options: items2, optionsText: 'Name', optionsValue: 'id', selectedOptions: selectedItem"></select>
                       
            </div>
        </div>
        
             <h4>Edit/Delete Item</h4>
        <div id="editItem" class="adminForm">
            <div class="two-col">
                 <select class="categories3" data-bind="options: categories, optionsText: 'CategoryName', optionsValue: 'CategoryID', optionsCaption: 'Choose a Category', selectedOptions:selectedCat3"></select>
                <p>Choose Item</p>
                <select class="data-table updateItem" multiple="multiple" data-bind="options: items3, optionsText: 'Name', optionsValue: 'id', selectedOptions: selectedItem2"></select>
                <button class="smallButton" data-bind="click: removeItem">Delete</button>
                <div class="success">Item Updated</div>
                <div class="success-delete">Item Deleted</div>

        </div>
            <div class="two-col">
                <form data-bind="submit:updateItem">
                    <input data-bind="value:ItemName" placeholder="Item Name">
                    <input data-bind="value:Model" placeholder="Model">
                    <input data-bind="value:Description" placeholder ="Description">
                     <div class="row requestRow">
                        <span class="label">Quantity</span>
                        <span id="numberBox3">
                            <input data-bind="value:InStock">
                        </span>
                     </div>
                    <!--<input data-bind="value:Location" placeholder="Location">-->
        
                    <!--<input type="file" data-bind="value:Photo" name="pic" accept="image/*">-->
                    <button class="blue-btn" type="submit">Update</button>
                </form>
            </div>
        </div>

        <h4>Add Photo</h4>
        <div class="adminForm">
             
            <form enctype="multipart/form-data" method="post">
               <div class="two-col">
                <p>Choose an Item</p>
                    <select class="data-table" name="selectItem" multiple="multiple" data-bind="options: itemsAll, optionsText: 'Name', optionsValue: 'id', selectedOptions: selectedItem"></select>
                </div>
                <div class="two-col">
                <p>Select Photo</p>
                    @FileUpload.GetHtml(initialNumberOfFiles:1, allowMoreFilesToBeAdded:false, includeFormTag:false, uploadText:"Upload Image")
                </div>
                <div class="one-col">    
                    <button class="blue-btn" type="submit">Upload</button>
                </div>
            </form>
        </div>

        <h4>Add User</h4>
            <div class="adminForm">
                <div class="two-col">
                 <a href="register.cshtml"><button class="blue-btn">Add User</button></a>
                </div>
            </div>
    </div><!--accodion end-->
    </div>

    <div id="orders">

        <h3 id="empty-orders">No Pending Orders</h3>
        <div id="pending-wrap">
            <h3>Pending Orders</h3>
     
            <div id="pending-orders">
                <table class="orders-table">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Order Date</th>
                            <th>Order Complete?</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: orders">
                        <tr class="order-row">
                            <td data-bind="text:Id"></td>
                            <td data-bind="text:Name"></td>
                            <td data-bind="text:Email"></td>
                            <td data-bind="text:OrderDate"></td>
                            <td><button id="order-comp" data-bind="click: $root.orderDone">Done</button></td>
                        </tr> 
                    </tbody>
                </table>
            </div>
         
        <div id="items-ordered">
            <h3>Items for Order # <span data-bind="text:orderId"></span></h3> 
             <!-----------------ITEM HEADER------------------>
                <table class="orders-table">
                    <thead class="tbl-head-items">
                    <tr class="tbl-head-items">
                        <th>Item ID</th>
                        <th>Item</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                  <!-----------------END ITEM HEADER------------------>
                 <!-----------------ITEM LIST------------------>
                    <tbody class="item-table" data-bind="foreach: orderedItems">
                        <tr>
                            <td data-bind="text:itemId"></td>
                            <td data-bind="text:item"></td>
                            <td data-bind="text:quantity"></td>
                        </tr>
                    </tbody>
                 <!----------------- END ITEM LIST------------------>  
                </table>
        </div>
        </div>
    </div>       
        
<script>
  
    //var spinboxCart = new SpinBox('numberBox-cart', { 'minimum': 0 });
    var spinbox2 = new SpinBox('numberBox2', { 'minimum': 0 });
    var spinbox3 = new SpinBox('numberBox3', { 'minimum': 0 });
    $(document).ready(function () {
     
        $("#accordion").accordion();

    });             
</script>