body {
    font-family: 'Nunito', sans-serif;
    background-color: #fcfcfc;
    background-image: url(../background2.png);
    margin: 0;
}
img{
    text-decoration: none;
    border: none;
}
#title {
    font-weight: 300;
    text-decoration: underline;
    font-size: 200%;
}
#logo {
    display: block;
    margin: 10px auto;
}
#products {
    position: fixed;
    height: 100%;
    width: 250px;
    color: #fcfcfc;
    border-radius: 0 25px 0 0;
    z-index: 9999;
    background: #334667;
}
.itemsList {
    width: 100%;
}
.itemsList td{
    padding: 5px;
}
#detailSection {
    padding: 5px 5px 5px 270px;
}
#details {
    background-color: #FFFFFF;
    border-radius: 13px;
    box-shadow: 0 0 5px #C0C0C0;
    display: none;
    margin: 20px auto 0;
    padding: 15px;
    width: 400px;
    z-index: 1;
}
#detailImage {
    text-align: center;
}
.row,.lastRow {
    clear: both;
    margin: 5px;
    overflow: auto;
    margin: 5px; 
}
.rowImage {
    text-align: center;
    padding: 1px;
    color: #FFACAC;
}
.lastRow {
    margin-top: 15px;
}
.label {
    float: left;
    width: 30%;
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
    font-weight: 400;
}
.adminForm .label {
    width: auto;
    text-align: left;
    padding-top: 15px;
}
#addItem > select {
  padding: 5px;
}
#addItem #requestRow {
    padding: 0;
} 
.data{
    float:  left;
    width:  60%;
    margin-left: 10px;
    font-weight: 300;
}
h1,h2,h3,h4 {
    text-align: center;
    font-family: 'Merriweather', serif;
}
.reorder{
    width:  30px;
}
.clickable{
    cursor: pointer;
    background-color: #24263B;
}
#selectBox {
    padding: 20px 10px;
}
#selectBox select {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    padding: 5px;
    font-size: 110%;
}
button {
    width: 100%;
    background-color: #8AAB98;
    border: 0 none;
    color: #FFFFFF;
    display: inline-block;
    padding: 20px 40px;
    position: relative;
    text-align: center; 
    border-radius: 10px;
    box-shadow: 0 4px #789E88;
    font-size: 125%;
    transition: ease .1s;
    margin: 5px;
}
button:hover {
    background-color: #85A794;
    cursor: pointer;
}
button.blue-btn:hover {
    background-color: #2E405C;
}
button:active {
    box-shadow: none !important;
    transform: translateY(4px);
}
button:disabled {
    visibility: hidden;
}
.blue-btn {
    background-color: #334667;
    box-shadow: 0 4px #24263B;
}
#outofstock {
    bottom: 50px;
    color: #FF0000;
    right: 120px;
    position: absolute;
    font-weight: bold;
}
.smallButton {
   background-color: #BB5751;
   padding: 5px 10px;
   margin: 10px;
   font-size: 100%;
   width: auto;
   box-shadow: 0 4px #823D38;
}
.editButton {
    background-color: rgb(224,224,224);
    box-shadow: 0 4px #C0C0C0;
    color: #6d6d6d;
}
button.smallButton:hover {
    background-color: #A64D48; 
}
button.editButton:hover {
    background-color: #d1d0d0;
}
.divider {
    width: 100%;
    box-shadow: 0px 1px 1px #999;
    height: 1px;
    clear: both;
    margin: 10px 0;
}
.requestRow {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
}
.adminForm {
    width: 100%;
    margin: 0px auto;
    overflow: auto;
    background-color: #A5CCB5;
    height: auto !important;
}
#accordion {
    background-color: #8AAB98;
}
.ui-accordion-header {
    border-bottom: 1px solid #C0C0C0;
    color: #FCFCFC;
    margin: 0;
    padding: 10px;
}
.ui-accordion-header:hover {
    background-color: #799686;
    cursor: pointer;
}
#left-col {
    background-color: #799686;
    height: 100%;
    position: fixed;
}
#orders {
    float: left;
    margin: 15px 15px 15px 500px;
}
.expand-orders {
  background-color: #384373;
  color: #FFF;
  height: 20px;
  margin: 0 auto;
  width: 20px;
  cursor: pointer;
}
.adminForm .two-col form > input,#addItem select.categories2, .categories3{
    width: 100%;
    display: block;
    clear: both;
    margin: 10px 0px;
    padding: 7px 0px;
}
.adminForm .two-col p{
    margin: 0px 0px 5px 0px;
}
.data-table {
    width: 100%;
    height: 120px
}
.two-col {
    float: left;
    width: 200px;
    margin: 20px;
}
.one-col {
    width: 440px;
    margin: 20px;
}
#file-upload-0 input {
  width: 100%;
}
#ui-accordion-accordion-panel-3 > form {
  margin-top: -20px;
}
.edit-menu {
    position: absolute;
    top: 15px;
    right: 0;
    background-image: url(../cart2.png);
    width: 64px;
    height: 64px;
    transition-duration: .3s;
}
.edit-menu-b {
    background-image: url(../cart1.png);
}
.edit-menu-b:hover {
    background-image: url(../cart.png);
}
#edit-menu2 {
    right: 400px;
    background-image: url(../cartx.png);
    top: 0;
}
#edit-menu2:hover {
    background-image: url(../cartx1.png);
}
#cart-add-message {
    position: absolute;
    top: 25px;
    right: 70px;
    background-color: #A50311;
    padding: 10px;
    color: #fff;
    display: none;
}
#intro {
    margin: 5px 0px 0px 35px;
}
#intro2 {
  font-family: 'Merriweather',serif;
  margin: 100px auto;
  max-width: 500px;
  text-align: center;
  width: 100%;
}
.success,.success-delete {
  display: none;
  text-align: center;
  background-color: #E8FFF1;
  border-radius: 10px;
  padding: 5px;
}
.sidr {
  padding: 0px 0px 20px 0px;
  height: auto;
  top:15px;
  box-shadow: -1px 1px 2px #444444;
}
.sidr form {
    padding: 5px 50px;
}
.sidr h1{
    color: #fcfcfc;
}
.shop-cart {
    width: 100%;    
}
#cart-header {
    margin: 24px 0px 10px 0px;    
}
#items-added {
    background-color: #789E88;
    color: #555;
    padding: 10px 0px;
}
.shop-cart td {
    width: 65px;
    text-align: center;
}
.shop-cart th {
    color: #fff;
    text-align: left;
}
.shop-cart th:first-child, .shop-cart td:first-child {
    font-family: 'Merriweather',serif;
    text-align: center;
    width: 256px;
}
.delete-btn {
    background-image:url("../delete.png");
    width: 16px;
    height: 16px;
    display: block;
}
.num-box {
    width : 2.5em;
    height : 2.5625em;
    padding : 0 0.25em;
    border : 0.0625em solid rgb(224,224,224);
    border-radius : 0.25em;
    font-size : 1em;
    text-align: center;   
}
#empty-cart {
    text-align: center;
    padding: 15px 0px;
    color: #61786B;
}
/*------------------------Table-------------------------------*/
table.orders-table {
    border-collapse: collapse;
    margin: 0 auto;
}
table.orders-table thead th, table.orders-table td { 
    border: 1px solid #000000;
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
    border-spacing: 0;
}
table.orders-table thead th {
    background-color: #A66A66;
    color: #FFF;
}
.order-row{
    background-color: #FFEAE8;
    cursor: pointer;
}
.order-row:hover {
   background-color: #E0CDCC;
}
#order-comp {
    padding: 0px;
    width: 50%;
    color: #fcfcfc;
    font-size: 80%;
    background-color: #A5CCB5;
    box-shadow: 0 4px #799686;
}
.item-table tr {
    background-color: #CCA8A5;
}
#pending-wrap {
    display: none;
    max-height: 500px;
    overflow: auto;
}
.error {
    color: crimson;
}

/*--------------------------Login Page----------------------------*/

form.login {
    width: 50%;
    max-width: 400px;
    min-width: 250px;
    margin: 0 auto;    
}
form.login input {
    width: 100%;
    margin: 5px 0px;
    padding: 10px 0px;
}
.login-error {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #B54642; 
}
.login fieldset {
    padding: 20px;
}
/*------------------------Spin Box---------------------------------*/
.spinBox{
position : relative;
display : inline-block;
margin-top : 0.375em;
padding-right : 1.875em;
border-radius : 0.25em;
box-shadow : 0 0.0625em 0 rgba(255,255,255,0.5);
}
.spinBox input{
display : block;
width : 2.5em;
height : 2.5625em;
padding : 0 0.25em;
border : 0.0625em solid rgb(224,224,224);
border-right : none;
border-top-left-radius : 0.25em;
border-bottom-left-radius : 0.25em;
color : rgb(64,64,64);
font-family : inherit;
font-size : 1em;
text-align : right;
box-shadow : 0 0.125em 0.125em rgba(0,0,0,0.03125) inset;
}
.spinBox input[disabled]{
background : rgb(240,240,240);
}
.spinBoxUp,
.spinBoxDown{
position : absolute;
right : 0;
display : block;
width : 1.75em;
height : 50%;
border : 0.0625em solid rgb(224,224,224);
background : rgb(248,248,248);
background-image : -webkit-linear-gradient(rgb(248,248,248),rgb(240,240,240));
background-image : linear-gradient(rgb(248,248,248),rgb(240,240,240));
cursor : pointer;
}
.spinBox input[disabled] + span,
.spinBox input[disabled] + span + span{
background : rgb(240,240,240);
cursor : auto;
}
.spinBoxUp span,
.spinBoxDown span{
display : block;
width : 0.75em;
height : 0.75em;
margin: 3px auto;
}
.spinBoxUp{
top : 0;
border-top-right-radius : 0.25em;
}
.spinBoxUp span{
background : url('../arrow-up.png') no-repeat center center;
}
.spinBoxDown{
bottom : 0;
border-bottom-right-radius : 0.25em;
}
.spinBoxDown span{
background : url('../arrow-down.png') no-repeat center center;
}




